In [140]:
import pandas as pd
import os


DATA_FILEPATH = "data/titanic.csv"

def fetch_data():
    """Import the data from csv to pd dataframe"""
    relaviteFilepath = os.path.join(os.path.abspath(''), DATA_FILEPATH)
    return pd.read_csv(relaviteFilepath)

# df stands for dataframe. This is the object that we will manipulate throughouht the notebook
titanicdf = fetch_data()
titanicdf

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

# 1. In the folder “Exercises” you have access to the dataset Titanic.csv presenting information about travellers with their status (survived=1 (yes) or =0 (no)). In addition, you have the information about the class (Pclass), name (Name), gender (Sex), age (Age), sibling or spouse on board (1/0), parents or children aboard (1/0), and fare price (Fare).

## (a) What is the best default rule for this dataset? (Default means without any evidence about the person)?

The best default rule is the one that has the less error without any information about the person, ie the most probable one.

In [141]:
#We could go with (1-survive) for fatality but we would run the risk of sending Nan, null, or wrong values (ex: 8 ? 'missing^' ?) to the fatality count
survivorSelector = (titanicdf['Survived'] == 1)
FatalitySelector = (titanicdf['Survived'] == 0)

survivorNumber = len(titanicdf[survivorSelector])
fatalityNumber = len(titanicdf[FatalitySelector])
errors = len(titanicdf) - (survivorNumber + fatalityNumber)

decision = 'survived' if survivorNumber > fatalityNumber else 'did not survive'

print(f"There are {survivorNumber} survivors and {fatalityNumber} fatalities, with {errors} undetermined. The best default decision is {decision}.")

There are 342 survivors and 545 fatalities, with 0 undetermined. The best default decision is did not survive.

## (b) What is the best 1R for this dataset?

We will use Sickit learn to determine the best 1R for the dataset. Of course, we must not pass the labels (Survived col)

In [142]:
from mlxtend.classifier import OneRClassifier

X_train = titanicdf.drop(columns=['Survived'], axis=1, inplace=False)
y_train = titanicdf['Survived']

oneRClass = OneRClassifier()
oneRClass.fit(X_train.to_numpy(), y_train)

print(f"Prediction based on feature {X_train.columns[oneRClass.feature_idx_]}, with break down :")
oneRClass.prediction_dict_

Prediction based on feature Name, with break down :

{'total error': 0,
 'rules (value: class)': {'Capt. Edward Gifford Crosby': 0,
  'Col. John Weir': 0,
  'Col. Oberst Alfons Simonius-Blumer': 1,
  'Don. Manuel E Uruchurtu': 0,
  'Dr. Alfred Pain': 0,
  'Dr. Alice (Farnham) Leader': 1,
  'Dr. Arthur Jackson Brewe': 0,
  'Dr. Ernest Moraweck': 0,
  'Dr. Henry William Frauenthal': 1,
  'Dr. Max Stahelin-Maeglin': 1,
  'Dr. William Edward Minahan': 0,
  'Jonkheer. John George Reuchlin': 0,
  'Lady. (Lucille Christiana Sutherland)Duff Gordon': 1,
  'Major. Archibald Willingham Butt': 0,
  'Major. Arthur Godfrey Peuchen': 1,
  'Master. Alden Gates Caldwell': 1,
  'Master. Andre Mallet': 1,
  'Master. Arthur Rice': 0,
  'Master. Assad Alexander Thomas': 1,
  'Master. Bertram Vere Dean': 1,
  'Master. Clarence Gustaf Hugo Asplund': 0,
  'Master. Eden Leslie Coutts': 1,
  'Master. Edmond Roger Navratil': 1,
  'Master. Edvin Rojj Felix Asplund': 1,
  'Master. Eino Viljami Panula': 0,
  'Master. Elias Nicola-Yarred': 1,
  'Master. Eric Rice': 0,
  'Master. Eugene Rice': 0,
  'Master. Frank John William Goldsmith': 1,
  'Master. George Hugh Rice': 0,
  'Master. George Sibley Richards': 1,
  'Master. Gerios Moubarek': 1,
  'Master. Gosta Leonard Palsson': 0,
  'Master. Halim Gonios Moubarek': 1,
  'Master. Harald Skoog': 0,
  'Master. Harold Theodor Johnson': 1,
  'Master. Harold Victor Goodwin': 0,
  'Master. Henry Forbes Lefebre': 0,
  'Master. Hudson Trevor Allison': 1,
  'Master. John Morgan Jr Davies': 1,
  'Master. Juha Niilo Panula': 0,
  'Master. Karl Thorsten Skoog': 0,
  'Master. Meier Moor': 1,
  'Master. Michel M Navratil': 1,
  'Master. Richard F Becker': 1,
  'Master. Sidney Leonard Goodwin': 0,
  'Master. Sigvard Harald Elias Andersson': 0,
  'Master. Thomas Henry Sage': 0,
  'Master. Urho Abraham Panula': 0,
  'Master. Viljo Hamalainen': 1,
  'Master. Washington Dodge': 1,
  'Master. William Frederick Goodwin': 0,
  'Master. William Loch Coutts': 1,
  'Master. William Rowe Richards': 1,
  'Master. William Thornton II Carter': 1,
  'Miss. (Marion Ogden) Meanwell': 0,
  'Miss. Adele Kiamie Najib': 1,
  'Miss. Agda Thorilda Viktoria Lindahl': 0,
  'Miss. Agnes McCoy': 1,
  'Miss. Albina Bazzani': 1,
  'Miss. Alice Cleaver': 1,
  'Miss. Alice Elizabeth Fortune': 1,
  'Miss. Alice Herman': 1,
  'Miss. Alice Phoebe Harknett': 0,
  'Miss. Aloisia Haas': 0,
  'Miss. Amelia Bissette': 1,
  'Miss. Amelia Brown': 1,
  'Miss. Amelie Icard': 1,
  'Miss. Amy Zillah Elsie Stanley': 1,
  'Miss. Ann Elizabeth Isham': 0,
  'Miss. Anna Katherine Kelly': 1,
  'Miss. Anna Kristine Salkjelsvik': 1,
  'Miss. Anna McGowan': 1,
  'Miss. Anna Peter': 1,
  'Miss. Anna Sinkkonen': 1,
  'Miss. Anna Sofia Nysten': 1,
  'Miss. Anna Sofia Sjoblom': 1,
  'Miss. Anna Sofia Turja': 1,
  'Miss. Anna Ward': 1,
  'Miss. Anne Perreault': 1,
  'Miss. Annie Clemmer Funk': 0,
  'Miss. Annie Jermyn': 1,
  'Miss. Annie Jessie Harper': 1,
  'Miss. Asuncion Duran y More': 1,
  'Miss. Augusta Charlotta Lindblom': 0,
  'Miss. Augusta Maria Vander Planke': 0,
  'Miss. Augusta Serepeca': 1,
  'Miss. Aurora Adelia Landergren': 1,
  'Miss. Banoura Ayoub': 1,
  'Miss. Bertha Ilett': 1,
  'Miss. Bertha LeRoy': 1,
  'Miss. Bertha Lehmann': 1,
  'Miss. Bertha Moran': 1,
  "Miss. Bridget Mary O'Sullivan": 0,
  "Miss. Bridget O'Driscoll": 1,
  'Miss. Brigdet Delia McDermott': 1,
  'Miss. Carla Christine Nielsine Andersen-Jensen': 1,
  'Miss. Caroline Louise Endres': 1,
  'Miss. Catharina Van Impe': 0,
  'Miss. Catherine Helen Johnston': 0,
  'Miss. Clear Annie Cameron': 1,
  'Miss. Constance Gladys Sage': 0,
  'Miss. Constance Mirium West': 1,
  'Miss. Daisy E Minahan': 1,
  'Miss. Delia Henry': 0,
  'Miss. Doolina Margaret Ford': 0,
  'Miss. Dorothy Edith Sage': 0,
  'Miss. Ebba Iris Alfrida Andersson': 0,
  'Miss. Edwina Celia Troutt': 1,
  'Miss. Eleanor Ileen Johnson': 1,
  'Miss. Eliina Honkanen': 1,
  'Miss. Elina Olsson': 0,
  'Miss. Elisabeth Walton Allen': 1,
  'Miss. Elise Lurette': 1,
  'Miss. Elizabeth Bonnell': 1,
  'Miss. Elizabeth Dowdell': 1,
  'Miss. Elizabeth Margaret Burns': 1,
  'Miss. Elizabeth Mussey Eustis': 1,
  'Miss. Elizabeth W Shutes': 1,
  'Miss. Ellen Barber': 1,
  'Miss. Ellen Natalia Pettersson': 0,
  "Miss. Ellen O'Dwyer": 1,
  'Miss. Ellen Toomey': 1,
  'Miss. Ellis Anna Maria Andersson': 0,
  'Miss. Elsie Doling': 1,
  'Miss. Elsie Edith Bowerman': 1,
  'Miss. Emily Borie Ryerson': 1,
  'Miss. Emily Rugg': 1,
  'Miss. Erna Alexandra Andersson': 1,
  'Miss. Ethel Garside': 1,
  'Miss. Eugenie Baclini': 1,
  'Miss. Eva Miriam Hart': 1,
  'Miss. Georgette Alexandra Madill': 1,
  'Miss. Gerda Ulrika Dahlberg': 0,
  'Miss. Gladys Cherry': 1,
  'Miss. Gretchen Fiske Longley': 1,
  'Miss. Hanora Healy': 1,
  'Miss. Hanora Hegarty': 0,
  "Miss. Hanora O'Leary": 1,
  'Miss. Harriet R Crosby': 1,
  'Miss. Hedwig Margaritha Frolicher': 1,
  'Miss. Helen Carr': 1,
  'Miss. Helen Loraine Allison': 0,
  'Miss. Helen Mary Mockler': 1,
  'Miss. Helen Monypeny Newsom': 1,
  'Miss. Helene Barbara Baclini': 1,
  'Miss. Helmina Josefina Nilsson': 1,
  'Miss. Henriette Yrois': 0,
  'Miss. Hilda Mary Slayter': 1,
  'Miss. Hildur E Hirvonen': 1,
  'Miss. Hileni Zabour': 0,
  'Miss. Hulda Amanda Adolfina Vestrom': 0,
  'Miss. Ida Lefebre': 0,
  'Miss. Ida Sofia Strandberg': 0,
  'Miss. Ingeborg Constanzia Andersson': 0,
  'Miss. Jamila Nicola-Yarred': 1,
  'Miss. Jean Gertrude Hippach': 1,
  'Miss. Jeannie Lefebre': 0,
  'Miss. Jessie Wills Leitch': 1,
  'Miss. Joan Wells': 1,
  'Miss. Julie Rachel Christy': 1,
  'Miss. Kate Buss': 1,
  'Miss. Kate Connolly': 1,
  'Miss. Kate Florence Phillips': 1,
  'Miss. Katherine Gilnagh': 1,
  'Miss. Katherine Mullens': 1,
  'Miss. Katherine Murphy': 1,
  'Miss. Katie Peters': 0,
  'Miss. Katriina Jussila': 0,
  'Miss. Kornelia Theodosia Andrews': 1,
  'Miss. Kristina Sofia Laitinen': 0,
  'Miss. Laina Heikkinen': 1,
  'Miss. Laura Mabel Francatelli': 1,
  'Miss. Lillian Amy Goodwin': 0,
  'Miss. Lillian Gertrud Asplund': 1,
  'Miss. Lucile Polk Carter': 1,
  'Miss. Lucy Ridsdale': 1,
  'Miss. Luise Gretchen Kink-Heilmann': 1,
  'Miss. Lyyli Karoliina Silven': 1,
  'Miss. Mabel Helen Fortune': 1,
  'Miss. Mabel Skoog': 0,
  'Miss. Madeleine Newell': 1,
  'Miss. Madeleine Violet Mellinger': 1,
  'Miss. Malake Attalah': 0,
  'Miss. Manca Karun': 1,
  'Miss. Margaret Bechstein Hays': 1,
  'Miss. Margaret Delia Devaney': 1,
  'Miss. Margaret Edith Graham': 1,
  'Miss. Margaret Fleming': 1,
  'Miss. Margaret Jane Murphy': 1,
  'Miss. Margaret Madigan': 1,
  'Miss. Margareth Mannion': 1,
  'Miss. Margit Elizabeth Skoog': 0,
  'Miss. Marguerite Rut Sandstrom': 1,
  'Miss. Mari Aina Jussila': 0,
  'Miss. Maria Nakid': 1,
  'Miss. Marie Catherine Baclini': 1,
  'Miss. Marie Grice Young': 1,
  'Miss. Marija Cacic': 0,
  'Miss. Marija Oreskovic': 0,
  'Miss. Marion Elsie Smith': 1,
  'Miss. Marion Louise Becker': 1,
  'Miss. Marjorie Collyer': 1,
  'Miss. Marjorie Newell': 1,
  'Miss. Mary Agatha Glynn': 1,
  'Miss. Mary Bourke': 0,
  'Miss. Mary Canavan': 0,
  'Miss. Mary Conover Lines': 1,
  'Miss. Mary Davis': 1,
  'Miss. Mary Kelly': 1,
  'Miss. Mary Mangan': 0,
  'Miss. Mary McGovern': 1,
  'Miss. Mary Natalie Wick': 1,
  'Miss. Mathilde Lefebre': 0,
  'Miss. Matilda Petranec': 0,
  'Miss. Nora A Keane': 1,
  'Miss. Nourelain Boulos': 0,
  'Miss. Phyllis May Quick': 1,
  'Miss. Pieta Sofia Ilmakangas': 0,
  'Miss. Roberta Maioni': 1,
  'Miss. Robina Maggie Ford': 0,
  'Miss. Rosalie Bidois': 1,
  'Miss. Ruth Taussig': 1,
  'Miss. Saiide Barbara': 0,
  'Miss. Sara Rebecca Compton': 1,
  'Miss. Sigrid Elisabeth Andersson': 0,
  'Miss. Simonne Marie Anne Andree Laroche': 1,
  'Miss. Stella Anna Sage': 0,
  'Miss. Stina Viola Palsson': 0,
  'Miss. Susan Parker Ryerson': 1,
  'Miss. Susan Webber': 1,
  'Miss. Telma Matilda Strom': 0,
  'Miss. Thamine Zabour': 0,
  'Miss. Torborg Danira Palsson': 0,
  'Miss. Velin Ohman': 1,
  'Miss. Virginia Ethel Emanuel': 1,
  'Miss. Wendla Maria Heininen': 0,
  'Mlle. Berthe Antonine Mayne': 1,
  'Mlle. Emma Sagesser': 1,
  'Mme. Leontine Pauline Aubart': 1,
  'Mr. Abraham (David Lishin) Harmer': 0,
  'Mr. Achille Waelens': 0,
  'Mr. Adola Asim': 0,
  'Mr. Adolf Mathias Nicolai Olsen Humblen': 0,
  'Mr. Adolphe Saalfeld': 1,
  'Mr. Ahmed Ali': 0,
  'Mr. Albert A Stewart': 0,
  'Mr. Albert Adrian Dick': 1,
  'Mr. Albert Augustsson': 0,
  'Mr. Albert Johan Moss': 1,
  'Mr. Albert Mallet': 0,
  'Mr. Alexander Cairns': 0,
  'Mr. Alexander Oskar Holverson': 0,
  'Mr. Alexander Radeff': 0,
  'Mr. Alfons de Pelsmaeker': 0,
  'Mr. Alfonzo Meo': 0,
  'Mr. Alfred Fleming Cunningham': 0,
  'Mr. Alfred Gaskell': 0,
  'Mr. Alfred George John Rush': 0,
  'Mr. Alfred J Davies': 0,
  'Mr. Alfred Johnson': 0,
  'Mr. Alfred Ossian Gustafsson': 0,
  'Mr. Algernon Henry Wilson Barkworth': 1,
  'Mr. Ali Lam': 1,
  'Mr. Ambrose Jr Hood': 0,
  'Mr. Amin Saad': 0,
  'Mr. Anders Johan Andersson': 0,
  'Mr. Anders Vilhelm Gustafsson': 0,
  'Mr. Andrew G Johnston': 0,
  'Mr. Andrew Keane': 0,
  'Mr. Anthony Abbing': 0,
  'Mr. Anthony Wood Frost': 0,
  'Mr. Antoni Yasbeck': 0,
  'Mr. Antti Gustaf Leinonen': 0,
  'Mr. Antti Wilhelm Sivola': 0,
  'Mr. Apostolos Chronopoulos': 0,
  'Mr. Arne Jonas Fahlstrom': 0,
  'Mr. Arthur Ernest Nicholson': 0,
  'Mr. Arthur H Gee': 0,
  'Mr. Arthur Keefe': 0,
  'Mr. Arthur Webster Newell': 0,
  'Mr. August Edvard Andersson': 1,
  'Mr. August Meyer': 0,
  'Mr. August Sigfrid Carlsson': 0,
  'Mr. August Viktor Larsson': 0,
  'Mr. Austen Partner': 0,
  'Mr. Austin Blyler van Billiard': 0,
  'Mr. Bengt Edvin Larsson': 0,
  'Mr. Benjamin Guggenheim': 0,
  'Mr. Benjamin Hart': 0,
  'Mr. Benjamin Laventall Foreman': 0,
  'Mr. Berk (Berk Trembisky) Pickard': 1,
  'Mr. Bernard McCoy': 1,
  'Mr. Bernt Johannesen-Bratthammer': 1,
  'Mr. Bertram Frank Dean': 0,
  'Mr. Branko Dakic': 0,
  'Mr. Carl Jonsson': 1,
  'Mr. Carl Olof Jansson': 1,
  'Mr. Carl/Charles Peter Widegren': 0,
  'Mr. Cerin Balkic': 0,
  'Mr. Chang Chip': 1,
  'Mr. Charles Alexander Fortune': 0,
  'Mr. Charles Duane Williams': 0,
  'Mr. Charles Edward Goodwin': 0,
  'Mr. Charles Eugene Williams': 1,
  'Mr. Charles Frederick Waddington Sedgwick': 0,
  'Mr. Charles H Harrington': 0,
  'Mr. Charles H Natsch': 0,
  'Mr. Charles Hallace Romaine': 1,
  'Mr. Charles Henry Chapman': 0,
  'Mr. Charles Henry Davies': 0,
  'Mr. Charles Joseph Shorney': 0,
  'Mr. Charles Wilhelms': 1,
  'Mr. Choong Foo': 1,
  'Mr. Christo Nenkoff': 0,
  'Mr. Claus Peter Hansen': 0,
  'Mr. Daniel Coxon': 0,
  'Mr. Daniel Danielsen Gronnestad': 0,
  'Mr. Daniel J Moran': 0,
  'Mr. Daniel Warner Marvin': 0,
  'Mr. David Charters': 0,
  'Mr. David John Barton': 0,
  'Mr. David John Bowen': 0,
  'Mr. David Reeves': 0,
  'Mr. Denis Lennon': 0,
  'Mr. Dibo Elias': 0,
  'Mr. Dickinson H Bishop': 1,
  'Mr. Domingos Fernandeo Coelho': 0,
  'Mr. Douglas Bullen Sage': 0,
  'Mr. Eberhard Thelander Fischer': 0,
  'Mr. Edgar Joseph Meyer': 0,
  'Mr. Edgardo Samuel Andrew': 0,
  'Mr. Edvard Bengtsson Lindell': 0,
  'Mr. Edvard Pekoniemi': 0,
  'Mr. Edward Arthur Dorking': 1,
  'Mr. Edward Austin Kent': 0,
  'Mr. Edward Beane': 1,
  'Mr. Edward H Wheadon': 0,
  'Mr. Edward Pennington Calderhead': 1,
  'Mr. Edward Pomeroy Colley': 0,
  'Mr. Edward Roland Stanley': 0,
  'Mr. Edward Willey': 0,
  'Mr. Edwin Nelson Jr Kimball': 1,
  'Mr. Edwy Arthur West': 0,
  'Mr. Einar Windelov': 0,
  'Mr. Eino William Lindqvist': 1,
  'Mr. Eiriik Jussila': 1,
  'Mr. Eliezer Gilinski': 0,
  'Mr. Elmer Zebley Taylor': 1,
  'Mr. Emil Christmann': 0,
  'Mr. Emil Taussig': 0,
  'Mr. Emile Richard': 0,
  'Mr. Engelhart Cornelius Ostby': 0,
  'Mr. Ennis Hastings Watson': 0,
  'Mr. Erik Gustaf Collander': 0,
  'Mr. Erik Johansson': 0,
  'Mr. Ernest Charles Cann': 0,
  'Mr. Ernest James Crease': 0,
  'Mr. Ernest Portage Tomlin': 0,
  'Mr. Ernesti Arvid Panula': 0,
  'Mr. Ernst Adolf Sjostedt': 0,
  'Mr. Ernst Gilbert Danbom': 0,
  'Mr. Ernst Ulrik Persson': 1,
  'Mr. Ernst William Torber': 0,
  'Mr. Ervin G Lewy': 0,
  'Mr. Eugene Patrick Daly': 1,
  'Mr. Fahim Leeni': 1,
  'Mr. Fang Lang': 1,
  'Mr. Fared Kassem': 0,
  'Mr. Farred Chehab Emir': 0,
  'Mr. Fletcher Fellows Williams-Lambert': 0,
  'Mr. Francesco Celotti': 0,
  'Mr. Francis Davis Millet': 0,
  'Mr. Francis Parkes': 0,
  'Mr. Francis William Somerton': 0,
  'Mr. Francisco M Carrau': 0,
  'Mr. Frank Duane': 0,
  'Mr. Frank John Goldsmith': 0,
  'Mr. Frans Olof Carlsson': 0,
  'Mr. Frederic Kimber Seward': 1,
  'Mr. Frederick Charles Sawyer': 0,
  'Mr. Frederick Edward Giles': 0,
  'Mr. Frederick James Banfield': 0,
  'Mr. Frederick Maxfield Hoyt': 1,
  'Mr. Frederick Sage': 0,
  'Mr. Frederick Sutton': 0,
  'Mr. Frederick William Pengelly': 0,
  'Mr. Frederick William Shellard': 0,
  'Mr. Fridtjof Arne Madsen': 1,
  'Mr. George Achilles Harder': 1,
  'Mr. George B Goldschmidt': 0,
  'Mr. George Bradley': 1,
  'Mr. George Edward Graham': 0,
  'Mr. George Floyd Eitemiller': 0,
  'Mr. George Harris': 1,
  'Mr. George Henry Green': 0,
  'Mr. George Henry Hunt': 0,
  'Mr. George John Jr Sage': 0,
  'Mr. George Patchett': 0,
  'Mr. George Quincy Clifford': 0,
  'Mr. George Wright': 0,
  'Mr. Gerious Youseff': 0,
  'Mr. Gerious Yousseff': 0,
  'Mr. Guentcho Bostandyeff': 0,
  'Mr. Gurshon Cohen': 1,
  'Mr. Gustaf Hjalmar Edvardsson': 0,
  'Mr. Gustaf Joel Johansson': 0,
  'Mr. Gustave J Lesurer': 1,
  'Mr. Hammad Hassab': 1,
  'Mr. Hanna Assi Barah': 1,
  'Mr. Hanna Boulos': 0,
  'Mr. Hanna Mamee': 1,
  'Mr. Hans Kristensen Givard': 0,
  'Mr. Hans Linus Eklund': 0,
  'Mr. Hans Martin Monsen Birkeland': 0,
  'Mr. Hans Peder Jensen': 0,
  'Mr. Harry Anderson': 1,
  'Mr. Harry Corn': 0,
  'Mr. Harry Elkins Widener': 0,
  'Mr. Harry Homer': 1,
  'Mr. Harry Markland Molson': 0,
  'Mr. Harvey Collyer': 0,
  'Mr. Henrik Juul Hansen': 0,
  'Mr. Henry Birkhardt Harris': 0,
  'Mr. Henry Blank': 1,
  'Mr. Henry Damsgaard Hansen': 0,
  'Mr. Henry Hart': 0,
  'Mr. Henry Jr Sutehall': 0,
  'Mr. Henry Margido Olsen': 0,
  'Mr. Henry Michael Mitchell': 0,
  'Mr. Henry Price Hodges': 0,
  'Mr. Henry Samuel Morley': 0,
  'Mr. Henry Sleeper Harper': 1,
  'Mr. Herbert Fuller Chaffee': 0,
  'Mr. Herman Klaber': 0,
  'Mr. Houssein G N Hassan': 0,
  'Mr. Howard Hugh Williams': 0,
  'Mr. Hugh Roscoe Rood': 0,
  'Mr. Hugh Woolner': 1,
  'Mr. Husein Sivic': 0,
  'Mr. Ignjac Hendekovic': 0,
  'Mr. Iisakki Antino Aijo Nirva': 0,
  'Mr. Ilia Stoytcheff': 0,
  'Mr. Ilmari Rudolf Alhomaki': 0,
  'Mr. Ingvald Olai Olsen Hagland': 0,
  'Mr. Ivan Jalsevac': 1,
  'Mr. Ivan Mineff': 0,
  'Mr. Ivan Staneff': 0,
  'Mr. Ivan Stankovic': 0,
  'Mr. Jaako Arnold Panula': 0,
  'Mr. Jacob Christian Milling': 0,
  'Mr. Jacob Cook': 0,
  'Mr. Jacques Heath Futrelle': 0,
  'Mr. Jakob Alfred Johanson': 0,
  'Mr. Jakob Alfred Wiklund': 0,
  'Mr. Jakob Pasic': 0,
  'Mr. James Clinch Smith': 0,
  'Mr. James Farrell': 0,
  'Mr. James Flynn': 0,
  'Mr. James George Reed': 0,
  'Mr. James H Bracken': 0,
  'Mr. James Kelly': 0,
  'Mr. James Lester': 0,
  'Mr. James Moran': 0,
  'Mr. James Robert McGough': 1,
  'Mr. James Scanlan': 0,
  'Mr. James Webber': 0,
  'Mr. Jan Baptist Sheerlinck': 1,
  'Mr. Janko Vovk': 0,
  'Mr. Jean Baptiste Van Impe': 0,
  'Mr. Jeremiah Burke': 0,
  'Mr. Jeso Culumovic': 0,
  'Mr. Johan Birger Gustafsson': 0,
  'Mr. Johan Ekstrom': 0,
  'Mr. Johan Emil Petterson': 0,
  'Mr. Johan Hansen Nysveen': 0,
  'Mr. Johan Henrik Johannesson Kvillner': 0,
  'Mr. Johan Julian Sundman': 1,
  'Mr. Johan Svensson': 0,
  'Mr. Johan Svensson Lundahl': 0,
  'Mr. Johan Werner Salonen': 0,
  'Mr. Johann Markun': 0,
  'Mr. Johannes Halvorsen Kalvik': 0,
  'Mr. Johannes Joseph Vande Velde': 0,
  'Mr. John Adams': 0,
  'Mr. John Borland Jr Thayer': 1,
  'Mr. John Borland Thayer': 0,
  'Mr. John Bourke': 0,
  'Mr. John D Baumann': 0,
  'Mr. John Denzil Jarvis': 0,
  'Mr. John Farthing': 0,
  'Mr. John Flynn': 0,
  'Mr. John Fredrik Alexander Holm': 0,
  'Mr. John Garfirth': 0,
  'Mr. John Hall Lovell': 0,
  'Mr. John Hatfield Cribb': 0,
  'Mr. John Henry Chapman': 0,
  'Mr. John Henry Perkin': 0,
  'Mr. John Horgan': 0,
  'Mr. John Hugo Ross': 0,
  'Mr. John Irwin Flynn': 1,
  'Mr. John Montgomery Smart': 0,
  'Mr. John Simmons': 0,
  'Mr. John Viktor Bengtsson': 0,
  'Mr. John William Gill': 0,
  'Mr. Jose Neto Jardin': 0,
  'Mr. Josef Arnold-Franchi': 0,
  'Mr. Joseph Charles Nicholls': 0,
  'Mr. Joseph J Fynney': 0,
  'Mr. Joseph Jr Elias': 0,
  'Mr. Joseph Murdlin': 0,
  'Mr. Joseph Peduzzi': 0,
  'Mr. Joseph Philippe Lemercier Laroche': 0,
  'Mr. Jovan Dimic': 0,
  'Mr. Jovo Calic': 0,
  'Mr. Jozef Drazenoic': 0,
  'Mr. Juha Niskanen': 1,
  'Mr. Juho Stranden': 1,
  'Mr. Juho Tikkanen': 0,
  'Mr. Julian Padro y Manent': 1,
  'Mr. Kanio Ivanoff': 0,
  'Mr. Karl Alfred Backstrom': 0,
  'Mr. Karl Edwart Dahl': 1,
  'Mr. Karl Gideon Gustafsson': 0,
  'Mr. Karl Howell Behr': 1,
  'Mr. Karl Ivar Sven Berglund': 0,
  'Mr. Karl Johan Johansson': 0,
  'Mr. Karl Siegwart Andreas Olsen': 0,
  'Mr. Khalil Saad': 0,
  'Mr. Klas Albin Klasen': 0,
  'Mr. Knud Paust Rommetvedt': 0,
  'Mr. Konrad Mathias Reiersen Hagland': 0,
  'Mr. Kristo Laleff': 0,
  'Mr. Kurt Arnold Gottfrid Bryhl': 0,
  'Mr. Lalio Jonkoff': 0,
  'Mr. Lalio Todoroff': 0,
  'Mr. Lawrence Beesley': 1,
  'Mr. Lawrence Gavey': 0,
  'Mr. Lee Bing': 1,
  'Mr. Lee Ling': 0,
  'Mr. Len Lam': 0,
  'Mr. Leo Edmondus Vander Planke': 0,
  'Mr. Leo Peter Vanden Steen': 0,
  'Mr. Leo Zimmerman': 0,
  'Mr. Leon Hampe': 0,
  'Mr. Leonard Charles Moore': 0,
  'Mr. Leonard Mark Hickman': 0,
  'Mr. Leslie Williams': 0,
  'Mr. Lewis Hickman': 0,
  'Mr. Lewis Richard Braund': 0,
  'Mr. Lionel Leonard': 0,
  'Mr. Liudevit Cor': 0,
  'Mr. Luka Cacic': 0,
  'Mr. Luka Oreskovic': 0,
  'Mr. Malkolm Joackim Johnson': 0,
  'Mr. Mansouer Novel': 0,
  'Mr. Mansour Hanna': 0,
  'Mr. Manuel Estanslas Goncalves': 0,
  'Mr. Marin Markoff': 0,
  'Mr. Mark Fortune': 0,
  'Mr. Martin Gallagher': 0,
  'Mr. Martin McMahon': 0,
  'Mr. Martin Ponesell': 0,
  'Mr. Masabumi Hosono': 1,
  'Mr. Matthew Sadlier': 0,
  'Mr. Matti Alexanteri Maenpaa': 0,
  'Mr. Matti Rintamaki': 0,
  "Mr. Maurice O'Connor": 0,
  'Mr. Maurice Sirota': 0,
  'Mr. Mauritz Hakan Bjornstrom-Steffansson': 1,
  'Mr. Mauritz Nils Martin Adahl': 0,
  'Mr. Maxmillian Frolicher-Stehli': 1,
  'Mr. Michael Connaghton': 0,
  'Mr. Michel Navratil': 0,
  'Mr. Milan Karaic': 0,
  'Mr. Mile Smiljanic': 0,
  'Mr. Milton Clyde Long': 0,
  'Mr. Minko Nankoff': 0,
  'Mr. Mito Mitkoff': 0,
  'Mr. Mitto Denkoff': 0,
  'Mr. Mohamed Badt': 0,
  'Mr. Moses Aaron Troupiansky': 0,
  'Mr. Nakli Toufik': 0,
  'Mr. Nassef Cassem Albimona': 1,
  'Mr. Neal McNamee': 0,
  'Mr. Nedelio Petroff': 0,
  'Mr. Nestor Cyriel Vande Walle': 0,
  'Mr. Nicholas Nasser': 0,
  'Mr. Niels Peder Jensen': 0,
  'Mr. Nikola Lulic': 1,
  'Mr. Nikolai Erland Kallio': 0,
  'Mr. Nils August Karlsson': 0,
  'Mr. Nils Johan Goransson Olsson': 0,
  'Mr. Nils Martin Odahl': 0,
  'Mr. Norman Campbell Chambers': 1,
  'Mr. Olaf Elon Osen': 0,
  'Mr. Ole Martin Olsen': 0,
  'Mr. Olof Svensson': 0,
  'Mr. Orsen Sirayanian': 0,
  'Mr. Oskar Arvid Hedman': 1,
  'Mr. Owen George Allum': 0,
  'Mr. Owen Harris Braund': 0,
  'Mr. Pastcho Petroff': 0,
  'Mr. Patrick Connors': 0,
  "Mr. Patrick D O'Connell": 0,
  'Mr. Patrick Dooley': 0,
  'Mr. Patrick Ryan': 0,
  'Mr. Paul Edvin Andreasson': 0,
  'Mr. Pehr Fabian Oliver Malkolm Myhrman': 0,
  'Mr. Peju Coleff': 0,
  'Mr. Pekka Pietari Hakkarainen': 0,
  'Mr. Penko Naidenoff': 0,
  'Mr. Percival James R Sharp': 0,
  'Mr. Percival Thorneycroft': 0,
  'Mr. Percival Wayland White': 0,
  'Mr. Percy Andrew Bailey': 0,
  'Mr. Petar Calic': 0,
  'Mr. Petco Slabenoff': 0,
  'Mr. Peter Andreas Lauritz Andersen Soholt': 0,
  'Mr. Peter David McKane': 0,
  'Mr. Peter Denis Daly': 1,
  'Mr. Peter Henry Renouf': 0,
  'Mr. Peter L Lemberopolous': 0,
  'Mr. Philemon van Melkebeke': 0,
  'Mr. Philip Kiernan': 0,
  'Mr. Phillippe Wiseman': 0,
  'Mr. Pierre Marechal': 1,

## (c) Can you produce a second rule based on a single attribute with a good effectiveness? You need to split the dataset into two disjoint sample, the training and the test set. For  example, used 75% for the training sample, and the remaining 25% for the test set.

This is clearly an over-fitting problem and generally a "cheating" AI using the names to declare if they survived or not.

In [143]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

y = titanicdf['Survived']

maxAccuracy = 0
bestPredictor = None

for col in titanicdf.drop('Survived', axis=1).columns:
    x = titanicdf[[col]]

    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42, stratify=y)

    oneRClass = OneRClassifier()
    oneRClass.fit(X_train.to_numpy(), y_train)

    y_pred = oneRClass.predict(X_test.to_numpy())
    accuracy = accuracy_score(y_test, y_pred)

    print(f"Prediction based on feature {col}.\n Accuracy: {accuracy}.\n")
    if accuracy > maxAccuracy:
        maxAccuracy, bestPredictor = accuracy, col

print(f"Found best predictor for titanic : {bestPredictor} with {maxAccuracy} accuracy")

Prediction based on feature Pclass.
 Accuracy: 0.6891891891891891.

c:\Dev\meachine_learning\.venv\lib\site-packages\mlxtend\classifier\oner.py:89: UserWarning: Feature array likely contains at least one non-categorical column. Column 0 appears to have a unique value in every row.
  warnings.warn('Feature array likely contains at least one'

Prediction based on feature Name.
 Accuracy: 0.6126126126126126.

Prediction based on feature Sex.
 Accuracy: 0.7702702702702703.

Prediction based on feature Age.
 Accuracy: 0.6261261261261262.

Prediction based on feature Siblings/Spouses Aboard.
 Accuracy: 0.6531531531531531.

Prediction based on feature Parents/Children Aboard.
 Accuracy: 0.6216216216216216.

Prediction based on feature Fare.
 Accuracy: 0.6711711711711712.

Found best predictor for titanic : Sex with 0.7702702702702703 accuracy

# 2. Using your select stock / market index and your decision criterion (binary or ternary) on the daily return of the next day or on the trend (daily return after 5/10 days), can you generate a 1R model using as possible predictor the volume, and the moving average (with a period of 5, 10, 20 50 or 200). You can learn on all days except the last 100 (that will be used as the test set).

In [144]:
DATA_FILEPATH = "data/CAC40.csv"

# df stands for dataframe. This is the object that we will manipulate throughouht the notebook
cac40df = fetch_data()

We add the labels (daily retunrs and ternary label)

In [145]:
#Daily return on closing price
cac40df["Daily_return"] = (cac40df["Close"] - cac40df["Close"].shift(1)) / cac40df["Close"].shift(1)

#Label
threshold = 0.005
cac40df["Prediction"] = cac40df["Daily_return"].apply(lambda x: 'up' if (x > threshold) else 'down' if (x < -threshold) else 'flat')
#Shift to have next day prediction
cac40df["Prediction"] = cac40df["Prediction"].shift(-1)

#Label
threshold = 0.005
cac40df["Prediction_nbr"] = cac40df["Daily_return"].apply(lambda x: 1 if (x > threshold) else 2 if (x < -threshold) else 0)
#Shift to have next day prediction
cac40df["Prediction_nbr"] = cac40df["Prediction_nbr"].shift(-1)

cac40df

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_return,Prediction,Prediction_nbr
0,1990-03-01,1836.000000,1838.000000,1827.000000,1832.000000,1832.000000,0,NaN,up,1.0
1,1990-03-02,1831.000000,1860.000000,1831.000000,1860.000000,1860.000000,0,0.015284,up,1.0
2,1990-03-05,1866.000000,1874.000000,1862.000000,1874.000000,1874.000000,0,0.007527,flat,0.0
3,1990-03-06,1869.000000,1875.000000,1866.000000,1872.000000,1872.000000,0,-0.001067,flat,0.0
4,1990-03-07,1874.000000,1881.000000,1874.000000,1880.000000,1880.000000,0,0.004274,up,1.0
...,...,...,...,...,...,...,...,...,...,...
7999,2021-09-15,6654.830078,6659.270020,6577.020020,6583.620117,6583.620117,81904200,-0.010424,up,1.0
8000,2021-09-16,6613.709961,6663.410156,6612.160156,6622.589844,6622.589844,79574500,0.005919,down,2.0
8001,2021-09-17,6679.450195,6697.080078,6551.620117,6570.189941,6570.189941,214025500,-0.007912,down,2.0
8002,2021-09-20,6450.390137,6471.089844,6389.620117,6455.810059,6455.810059,120069400,-0.017409,up,1.0
8003,2021-09-21,6513.750000,6570.129883,6513.750000,6552.729980,6552.729980,0,0.015013,NaN,NaN

We re-do the moving average like in serie 2

In [146]:
maWindows = [5, 10, 20, 50, 200]

featurecols = []

for maWindow in maWindows:
    colName = f"ma{maWindow}"
    featurecols.append(colName)
    cac40df[colName] = cac40df["Close"].rolling(maWindow).mean()

And now we try to do oneR classifiers with these features

In [147]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

cac40df = cac40df.dropna()

y = cac40df['Prediction_nbr']

maxAccuracy = 0
bestPredictor = None

featurecols.append('Volume')

rowCount = len(cac40df)
testSize = 100
trainSize = rowCount - 100

for col in featurecols:
    x = cac40df[[col]]

    X_train, X_test, y_train, y_test = x[:trainSize], x[-testSize:], y[:trainSize], y[-testSize:]

    oneRClass = OneRClassifier()
    oneRClass.fit(X_train.to_numpy(), y_train)

    y_pred = oneRClass.predict(X_test.to_numpy())
    accuracy = accuracy_score(y_test, y_pred)

    print(f"Prediction based on feature {col}.\n Accuracy: {accuracy}.\n")
    if accuracy > maxAccuracy:
        maxAccuracy, bestPredictor = accuracy, col

print(f"Found best predictor for cac40df : {bestPredictor} with {maxAccuracy} accuracy")

Prediction based on feature ma5.
 Accuracy: 0.53.

Prediction based on feature ma10.
 Accuracy: 0.53.

Prediction based on feature ma20.
 Accuracy: 0.53.

Prediction based on feature ma50.
 Accuracy: 0.53.

c:\Dev\meachine_learning\.venv\lib\site-packages\mlxtend\classifier\oner.py:89: UserWarning: Feature array likely contains at least one non-categorical column. Column 0 appears to have a unique value in every row.
  warnings.warn('Feature array likely contains at least one'

Prediction based on feature ma200.
 Accuracy: 0.53.

Prediction based on feature Volume.
 Accuracy: 0.55.

Found best predictor for cac40df : Volume with 0.55 accuracy

Little test with one or two predictors from serie 2

* MA collide with closing price
* Stochastic indicator

In [148]:
collideTreshold = 1

featurecols = []

for maWindow in maWindows:
    colName = f"maCollide{maWindow}"
    featurecols.append(colName)
    cac40df[colName] = (abs(cac40df["Close"] - cac40df[f"ma{maWindow}"]) < collideTreshold)

C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/3608057372.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df[colName] = (abs(cac40df["Close"] - cac40df[f"ma{maWindow}"]) < collideTreshold)

In [149]:
mw = 14
cac40df[f"min{mw}"] = cac40df["Close"].rolling(mw).min()
cac40df[f"max{mw}"] = cac40df["Close"].rolling(mw).max()
cac40df["Stochastic"] = 100 * ((cac40df["Close"] - cac40df[f"min{mw}"]) / (cac40df[f"max{mw}"] - cac40df[f"min{mw}"]))

featurecols.append("Stochastic")

C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/48657999.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df[f"min{mw}"] = cac40df["Close"].rolling(mw).min()
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/48657999.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df[f"max{mw}"] = cac40df["Close"].rolling(mw).max()
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/48657999.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df["Stochastic"] = 100 * ((cac40df["Close"] - cac40df[f"min{mw}"]) / (cac40df[f"max{mw}"] - cac40df[f"min{mw}"]))

In [156]:

meanPrice = cac40df["Close"].mean()
threshold = meanPrice * 0.0004

def compare(close, low, high):
    if abs(close - low) < threshold:
        return 1
    if abs(high - close) < threshold:
        return 2
    return 0

maWindows = 200
# calculate mean rolling
mean = cac40df["Close"].rolling(maWindow).mean()
# calculate std rolling
std = cac40df["Close"].rolling(maWindow).std()
# calculate high and low band
cac40df["Boll_bands_high_200"] = mean + 2*std
cac40df["Boll_bands_low_200"] = mean - 2*std

cac40df["low_meeting"] = abs(cac40df["Close"] - cac40df["Boll_bands_low_200"]) < threshold
cac40df["high_meeting"] = abs(cac40df["Boll_bands_high_200"] - cac40df["Close"]) < threshold
cac40df['meetings'] = cac40df.apply(lambda x: 1 if x['high_meeting'] else 1 if x['low_meeting'] else 0, axis = 1)

featurecols.append("low_meeting")
featurecols.append("high_meeting")
featurecols.append("meetings")

C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/842851489.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df["Boll_bands_high_200"] = mean + 2*std
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/842851489.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df["Boll_bands_low_200"] = mean - 2*std
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/842851489.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df["low_meeting"] = abs(cac40df["Close"] - cac40df["Boll_bands_low_200"]) < threshold
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/842851489.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df["high_meeting"] = abs(cac40df["Boll_bands_high_200"] - cac40df["Close"]) < threshold
C:\Users\Maxime\AppData\Local\Temp/ipykernel_13444/842851489.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cac40df['meetings'] = cac40df.apply(lambda x: 1 if x['high_meeting'] else 1 if x['low_meeting'] else 0, axis = 1)

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_return,Prediction,Prediction_nbr,...,maCollide50,maCollide200,min14,max14,Stochastic,Boll_bands_high_200,Boll_bands_low_200,low_meeting,high_meeting,meetings
5199,2010-09-29,3780.929932,3798.479980,3725.570068,3737.120117,3737.120117,143812000,-0.006706,down,2.0,...,False,False,3710.610107,3788.010010,34.250702,4109.436427,3348.630067,False,False,0
5200,2010-09-30,3711.959961,3782.669922,3693.459961,3715.179932,3715.179932,160919000,-0.005871,down,2.0,...,False,False,3710.610107,3788.010010,5.904173,4108.931327,3348.342568,False,False,0
5201,2010-10-01,3722.929932,3754.080078,3672.899902,3692.090088,3692.090088,135442000,-0.006215,down,2.0,...,False,False,3692.090088,3788.010010,0.000000,4107.518530,3347.955665,False,False,0
5202,2010-10-04,3689.179932,3691.800049,3640.479980,3649.810059,3649.810059,113094000,-0.011452,up,1.0,...,False,False,3649.810059,3788.010010,0.000000,4105.657120,3347.331376,False,False,0
5203,2010-10-05,3648.959961,3742.659912,3638.340088,3731.929932,3731.929932,124876600,0.022500,up,1.0,...,False,False,3649.810059,3788.010010,59.421058,4103.858589,3347.341707,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7998,2021-09-14,6672.189941,6677.069824,6613.520020,6652.970215,6652.970215,63626300,-0.003588,down,2.0,...,True,False,6652.970215,6763.080078,0.000000,7053.145908,5298.039175,False,False,0
7999,2021-09-15,6654.830078,6659.270020,6577.020020,6583.620117,6583.620117,81904200,-0.010424,up,1.0,...,False,False,6583.620117,6763.080078,0.000000,7055.897694,5305.379991,False,False,0
8000,2021-09-16,6613.709961,6663.410156,6612.160156,6622.589844,6622.589844,79574500,0.005919,down,2.0,...,False,False,6583.620117,6763.080078,21.714998,7059.397099,5312.014986,False,False,0
8001,2021-09-17,6679.450195,6697.080078,6551.620117,6570.189941,6570.189941,214025500,-0.007912,down,2.0,...,False,False,6570.189941,6763.080078,0.000000,7061.707352,5319.672834,False,False,0
8002,2021-09-20,6450.390137,6471.089844,6389.620117,6455.810059,6455.810059,120069400,-0.017409,up,1.0,...,False,False,6455.810059,6763.080078,0.000000,7062.359527,5327.972060,False,False,0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

cac40df = cac40df.dropna()

y = cac40df['Prediction_nbr']

maxAccuracy = 0
bestPredictor = None

rowCount = len(cac40df)
testSize = 100
trainSize = rowCount - 100

for col in featurecols:
    x = cac40df[[col]]

    X_train, X_test, y_train, y_test = x[:trainSize], x[-testSize:], y[:trainSize], y[-testSize:]

    oneRClass = OneRClassifier()
    oneRClass.fit(X_train.to_numpy(), y_train)

    y_pred = oneRClass.predict(X_test.to_numpy())
    accuracy = accuracy_score(y_test, y_pred)

    print(f"Prediction based on feature {col}.\n Accuracy: {accuracy}.\n")
    if accuracy > maxAccuracy:
        maxAccuracy, bestPredictor = accuracy, col

print(f"Found best predictor for cac40df : {bestPredictor} with {maxAccuracy} accuracy")

Prediction based on feature maCollide5.
 Accuracy: 0.53.

Prediction based on feature maCollide10.
 Accuracy: 0.53.

Prediction based on feature maCollide20.
 Accuracy: 0.54.

Prediction based on feature maCollide50.
 Accuracy: 0.53.

Prediction based on feature maCollide200.
 Accuracy: 0.53.

Prediction based on feature Stochastic.
 Accuracy: 0.55.

Prediction based on feature Volume.
 Accuracy: 0.55.

Found best predictor for cac40df : Stochastic with 0.55 accuracy